/*== General ==*/
a {
	color: black;
	text-decoration: none;
}

li {
	color: #d09c36;
	list-style: none;
}

body {
	background : black;
	height : 100%;
	min-height: 600px;
	width : 100%;
}

nav.metallicNav ul{
	height : 100%;
	margin : 1px 2px;
	padding : 0;
}

nav.metallicNav ul li{
	background : url('/images/itemTexture.png') no-repeat left top;
	border : 1px solid black;
	cursor : pointer;
	font-weight: bold;
	height : 46px;
	line-height : 48px;
	text-align : center;
	text-shadow : black 2px 2px 2px;
	width: 140px;
}

nav.metallicNav li:hover, nav.metallicNav li.active{
	background : url('/images/itemTextureHover.png') no-repeat left top;
}

nav.metallicNav ul li a{
	color : gray;
}

nav.metallicNav ul li:hover a, nav.metallicNav ul li.active a{
	color: #d09c36;
}

/*== Login ==*/
#container {
	height : 768px;
	background: url("/images/login.jpg") no-repeat center center fixed;
	width : 100%;
}

#main {
	display : block;
	margin : 0 auto;
	position : relative;
	width : 762px;
}

#main div, #main section {
	float : left;
}

.login {
	display : block;
	height : 100%;
	position : relative;
}

.login .upper {
	height : 155px;
}

.login .upper .register{
	padding : 10px 0 0 0;
	width : 612px;
}

.login .upper .register input{
	border-radius : 5px;
	margin : 0 3px;
}

.login .upper .register input[type="text"], .login .upper .register input[type="password"]{
	padding-left : 10px;
	width : 150px;
}

.login .upper .register input[type="submit"]{
	background-color : transparent;
	border-color : transparent;
	color : rgba(0,0,0,0);
}

#loginButton{
	background : url("/images/ok.png") no-repeat;	
}

#registerButton{
	background : url("/images/registre.png") no-repeat;		
}
 

.login .upper .register a{
	color : rgb(233, 152, 0);
	font-size : 10px;
	margin : 0 0 0 190px;
}


.upper .facebookRegister {
	height : 100%;
	padding: 0;
	width : 150px;
}

.fb-login-button{
	margin : 10px 0 10px 35px;
}

.fb-like{
	margin-left : 50px;
}

.loginMenu {
	background : url("/images/menuBackground.png") no-repeat left top;
	height : 50px;
	width : 100%;
}

.loginMenu img{
	margin-top : -100px;
	float : left;
}

.loginMenu div.menuItem {
	cursor : pointer;
	height : 40px;
	margin : 5px 5px;
	text-align: center;
	line-height: 30px;
	width : 118px;
}

.loginMenu div:hover a, .loginMenu a.active{
	font-size: 20px;
}

.loginMenu a {
	color: #d09c36;
	font-weight: bold;
	text-shadow : black 2px 2px 2px;
}

/*== Guerrômetro ==*/

.guerrometro {
	height : 78px;
	width : 714px;
}

.guerrometro div{
	position : absolute;
}

.guerrometro #guerrSkel{
	background-image : url('/images/guerrometro_externo.png');
	height : 79px;
	margin : 2px 0 0 23px;
	width : 100%;
	z-index: 3;
}

.guerrometro .raceBar{
	height : 19px;
	margin: 36px 0 0 163px;
	width : 435px;
	z-index: 1;
}

#humanBar{
	background : #d90000 url('/images/guerrBarHuman.png') repeat right top;
}

#orcBar{
	background : #00d519 url('/images/guerrBarOrc.png') repeat right top;
}

#guerrIndicator{
	margin : 20px 0 0 147px;
}

#guerrIndicator p{
	color : white;
	font-size : 10px;
	font-weight : bold;
	line-height : 30px;
	position : absolute;
	z-index : 2;
}

#guerrShield {
	background-image : url('/images/guerrShield.png');
	height : 40px;
	width : 35px;
	z-index : 4;
}

#leftPercent {
	margin-left : -20px;
}

#rightPercent {
	margin-left : 33px;
}

/*== Login Content ==*/

#loginContentWrapper{
	background : url('/images/loginContent.png') no-repeat left top;
	height : 294px;
	margin : 6px 0 0 24px;
	overflow : hidden;
	padding: 7px;
	width : 704px;
}

#loginContentWrapper body{
	background-size : 100%;
	height : 100%;
	width : 100%;
}

#loginContentWrapper p{
	color: #d09c36;
}

#loginContentWrapper img{
	height: 75px;
	width: 116px;
}

#mercadoContent .ir{
	background : url('/images/mercado.png') no-repeat left top;
	height : 167px;
	margin : 0 15px;
	width : 673px;
}

#midiaContent nav{
	float : left;
}

#midiaContent article{
	float: right;
	height: 273px;
	padding: 10px;
	width: 538px;
}

#midiaContent article ul{
	padding : 0;
}

#midiaContent article li{
	float : left;
	margin: 0 0 19px 14px;
}




